<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057211197285-n0hdmfukmehkb6ubmmu3u803u2kmnil3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057211197285-n0hdmfukmehkb6ubmmu3u803u2kmnil3</string>
	<key>API_KEY</key>
	<string>AIzaSyCAc0ngz3cLbg9d1s3CYU-JsL0jM3bxev0</string>
	<key>GCM_SENDER_ID</key>
	<string>1057211197285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mlapplication</string>
	<key>PROJECT_ID</key>
	<string>mlapplication-2cbd7</string>
	<key>STORAGE_BUCKET</key>
	<string>mlapplication-2cbd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057211197285:ios:db9225f63514efc7</string>
	<key>DATABASE_URL</key>
	<string>https://mlapplication-2cbd7.firebaseio.com</string>
</dict>
</plist>